.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #0d134b;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button:pressed {
    -fx-background-color: #E0E0E0;
}

.active-button {
    -fx-background-color: linear-gradient(from 25% 25% to 75% 75%, #0d134b, #3F51B5);
    -fx-background-radius: 10px;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}
